/*
*{
    border: 2px solid red;
}
*/
body{
    font-family: Poppins, sans-serif;
    width: 720px;
    margin: 0 auto;
}
h1{
    font-family: 'Open Sans', sans-serif;  
    color: rgb(75, 37, 37);   
    text-align: center;
    font-size: 90px ;
    font-weight: 300;
}
.resto{
    font-size: 120px;
    font-weight: 300;
}
ul, ol{
    

}
a{
    color: rgb(37, 44, 75);
    font-weight: 500;
    font-family: Poppins, sans-serif;
    font-size: 30px; 
}
img{
    height: auto;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border: 3px solid rgb(75, 37, 37);
}
.ingredients, .steps{
    text-align: justify;
}

.one{
    background-color: aquamarine;
    border: 5px solid #471818;
    padding: 10px;
    margin: 50px auto;
    height: 50px;
    width: 50px;
    text-align: center; 
}
.two{
    background-color: aquamarine;
    border: 5px solid #471818;
    padding: 10px;
    margin: 70px;
    height: 50px;
    width: 50px;
    text-align: center;
}
